In [1]:
import pandas as pd
import numpy as np
# Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004','A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000,2000000,4500000,5500000,np.nan,680000,400000,350000,np.nan,300000,2000000,1000000,3000000,200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing','Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

project_df = pd.DataFrame(project_data)
project_df.to_csv('project.csv', index=False)

# Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('employee.csv', index=False)

# Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
    
}

seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('seniority.csv', index=False)

In [2]:
import pandas as pd

# Load the project CSV file
project_df = pd.read_csv('project.csv')
print("Project DataFrame:")
print(project_df)

# Load the employee CSV file
employee_df = pd.read_csv('employee.csv')
print("\nEmployee DataFrame:")
print(employee_df)

# Load the seniority CSV file
seniority_df = pd.read_csv('seniority.csv')
print("\nSeniority Level DataFrame:")
print(seniority_df)

Project DataFrame:
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

Employee DataFrame:
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

Seniority Level DataFrame:
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [3]:
import pandas as pd

employee_df = pd.read_csv('employee.csv')

# Split 'Name' column into 'First Name' and 'LastName'
split_names = employee_df['Name'].str.split(' ', n=1, expand=True)
employee_df['First Name'] = split_names[0]
employee_df['LastName'] = split_names[1]

# Drop the original 'Name' column
employee_df.drop(columns=['Name'], inplace=True)

# Save the modified DataFrame back to the same CSV file
employee_df.to_csv('employee.csv', index=False)

print(employee_df)

     ID Gender     City  Age First Name   LastName
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [4]:
#task 4
import pandas as pd
import numpy as np
 
# Load the CSV files into DataFrames
project_df = pd.read_csv('project.csv')
employee_df = pd.read_csv('employee.csv')
seniority_df = pd.read_csv('seniority.csv')
 
# Merge all three DataFrames on the 'ID' column
# First, merge project_df with employee_df
merged_df = pd.merge(project_df, employee_df, on='ID', how='inner')
 
# Then, merge the result with seniority_df
final_df = pd.merge(merged_df, seniority_df, on='ID', how='inner')
 
# Display the final DataFrame
print("Final DataFrame:")
print(final_df)
 
# Save the final DataFrame to a CSV file (optional)
final_df.to_csv('final.csv', index=False)

Final DataFrame:
      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5        NaN  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9        NaN   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

     LastName  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

In [5]:
import pandas as pd
 
# Load the Final DataFrame from the CSV file
final_df = pd.read_csv('final.csv')
 
# Add a new 'Bonus' column initialized to 0
final_df['Bonus'] = 0
 
# Calculate the bonus only for finished projects
final_df.loc[final_df['Status'] == 'Finished', 'Bonus'] = final_df['Cost'] * 0.05
 
# Save the updated DataFrame to the same CSV file
final_df.to_csv('final.csv', index=False)
 
# Display the updated DataFrame
print("Updated Final DataFrame with Bonus:")
print(final_df)

Updated Final DataFrame with Bonus:
      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5        NaN  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9        NaN   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

     LastName  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3       NaN
5   Luxumberg                  2       0.0
6       Johny                  3   20000.0
7   Sabestine                  3       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  2       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

In [6]:
import pandas as pd
 
# Load the Final DataFrame from the CSV file
final_df = pd.read_csv('final.csv')
 
# Load the Seniority DataFrame to ensure we have the correct designation levels
seniority_df = pd.read_csv('seniority.csv')
 
# Merge the Final DataFrame with Seniority DataFrame to include the correct 'Designation Level'
final_df = final_df.merge(seniority_df, on='ID', how='left', suffixes=('', '_seniority'))
 
# Update the 'Designation Level' for employees with failed projects
# Use the 'Designation Level_seniority' column for updating
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] = final_df.loc[final_df['Status'] == 'Failed', 'Designation Level_seniority'] - 1
 
# Remove records where designation level is above 4
final_df = final_df[final_df['Designation Level'] <= 4]
 
# Drop unnecessary columns
final_df.drop(columns=['Designation Level_seniority'], inplace=True)
 
# Save the updated DataFrame back to the existing CSV file
final_df.to_csv('final.csv', index=False)
 
# Display the updated DataFrame
print("Updated Final DataFrame:")
print(final_df)

Updated Final DataFrame:
      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5        NaN  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9        NaN   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

     LastName  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3       NaN
5   Luxumberg                  1       0.0
6       Johny                  3   20000.0
7   Sabestine                  2       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  1       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

In [7]:
import pandas as pd

# Load the final.csv file into a DataFrame
final_df = pd.read_csv('final.csv')

# Define a function to add "Mr." or "Mrs." based on the Gender
def add_prefix(row):
    if row['Gender'] == 'M':
        return 'Mr. ' + row['First Name']
    elif row['Gender'] == 'F':
        return 'Mrs. ' + row['First Name']
    return row['First Name']

# Apply the function to the 'First Name' column
final_df['First Name'] = final_df.apply(add_prefix, axis=1)

# Drop the 'Gender' column
final_df.drop(columns=['Gender'], inplace=True)

# Save the modified DataFrame back to the same CSV file
final_df.to_csv('final.csv', index=False)

print(final_df)

      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5        NaN  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
6   A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8   350000.0    Failed   Berlin   29     Mr. Tom
8   A001   Project 9        NaN   Ongoing    Paris   25    Mr. John
9   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom
10  A001  Project 11  2000000.0    Failed    Paris   25    Mr. John
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

     LastName  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3       NaN
5   Luxumberg                  1       0.0
6       Johny                  3   20000.0
7   Sabestine                  2       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  1       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

In [8]:
import pandas as pd

# Load the final.csv file into a DataFrame
final_df = pd.read_csv('final.csv')

# Define a function to promote designation level
def promote_designation(row):
    if row['Age'] > 29:
        return row['Designation Level'] + 1
    return row['Designation Level']

# Apply the function to the 'Designation Level' column
final_df['Designation Level'] = final_df.apply(promote_designation, axis=1)

# Save the modified DataFrame back to the same CSV file
final_df.to_csv('final.csv', index=False)

print(final_df)

      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5        NaN  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
6   A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8   350000.0    Failed   Berlin   29     Mr. Tom
8   A001   Project 9        NaN   Ongoing    Paris   25    Mr. John
9   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom
10  A001  Project 11  2000000.0    Failed    Paris   25    Mr. John
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

     LastName  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  3       0.0
4       Johny                  4       NaN
5   Luxumberg                  1       0.0
6       Johny                  4   20000.0
7   Sabestine                  2       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  1       0.0
11      Adgra                  3       0.0
12      Adgra                  3  150000.0
13      Johny                  4   10000.0

In [11]:
import pandas as pd

# Load the final.csv file into a DataFrame
final_df = pd.read_csv('final.csv')

# Print out the column names
# print(final_df.columns)
# Assuming the correct column name is 'Cost'
total_proj_cost_df = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Rename the column for clarity
total_proj_cost_df.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Save the new DataFrame to a CSV file (optional)
# total_proj_cost_df.to_csv('TotalProjCost.csv', index=False)

# Display the resulting DataFrame
print(total_proj_cost_df)

     ID  First Name  Total Cost
0  A001    Mr. John   3002000.0
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy    600000.0

In [13]:
import pandas as pd

# Load your dataset
df = pd.read_csv('final.csv')

# Filter rows where 'City' contains the letter 'o'
filtered_df = df[df['City'].str.contains('o', case=False, na=False)]

# Print the filtered DataFrame
print(filtered_df)

      ID     Project       Cost    Status     City  Age  First Name  \
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

     LastName  Designation Level     Bonus
1   Luxumberg                  2       0.0
3       Adgra                  3       0.0
5   Luxumberg                  1       0.0
11      Adgra                  3       0.0
12      Adgra                  3  150000.0